# --- Framework AI & LangGraph ---
langchain>=0.2.0
langchain-community
langchain-groq
langgraph
langchain-huggingface

# --- Vector Database (RAG) ---
chromadb
langchain-chroma

# --- Embedding Models ---
sentence-transformers
huggingface-hub

# --- API Server ---
fastapi
uvicorn
pydantic

# --- Utilities ---
python-dotenv
